---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/GITHUB_REPO/releases/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token GITHUB_OAUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1427990308'
      Last-Modified:
      - Sun, 29 Mar 2015 21:09:00 GMT
      Etag:
      - W/"b5dcbb554db27bc6124df8a244c00569"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/GITHUB_REPO/releases/1103605","assets_url":"https://api.github.com/repos/GITHUB_REPO/releases/1103605/assets","upload_url":"https://uploads.github.com/repos/GITHUB_REPO/releases/1103605/assets{?name}","html_url":"https://github.com/GITHUB_REPO/releases/tag/2.0.1","id":1103605,"tag_name":"2.0.1","target_commitish":"master","name":null,"draft":false,"author":{"login":"alaibe","id":491074,"avatar_url":"https://avatars.githubusercontent.com/u/491074?v=3","gravatar_id":"","url":"https://api.github.com/users/alaibe","html_url":"https://github.com/alaibe","followers_url":"https://api.github.com/users/alaibe/followers","following_url":"https://api.github.com/users/alaibe/following{/other_user}","gists_url":"https://api.github.com/users/alaibe/gists{/gist_id}","starred_url":"https://api.github.com/users/alaibe/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alaibe/subscriptions","organizations_url":"https://api.github.com/users/alaibe/orgs","repos_url":"https://api.github.com/users/alaibe/repos","events_url":"https://api.github.com/users/alaibe/events{/privacy}","received_events_url":"https://api.github.com/users/alaibe/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2015-03-29T21:09:00Z","published_at":"2015-03-29T21:09:00Z","assets":[],"tarball_url":"https://api.github.com/repos/GITHUB_REPO/tarball/2.0.1","zipball_url":"https://api.github.com/repos/GITHUB_REPO/zipball/2.0.1","body":"Release
        generated by amanuensis."}'
  recorded_at: Thu, 02 Apr 2015 15:06:34 GMT
- request:
    method: get
    uri: https://api.github.com/repos/GITHUB_REPO/issues?per_page=100&state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token GITHUB_OAUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1427990308'
      Etag:
      - W/"dc287627b0328abfda3520d907b6f40a"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/GITHUB_REPO/issues/3","labels_url":"https://api.github.com/repos/GITHUB_REPO/issues/3/labels{/name}","comments_url":"https://api.github.com/repos/GITHUB_REPO/issues/3/comments","events_url":"https://api.github.com/repos/GITHUB_REPO/issues/3/events","html_url":"https://github.com/GITHUB_REPO/pull/3","id":63566237,"number":3,"title":"Test
        branch","user":{"login":"alaibe","id":491074,"avatar_url":"https://avatars.githubusercontent.com/u/491074?v=3","gravatar_id":"","url":"https://api.github.com/users/alaibe","html_url":"https://github.com/alaibe","followers_url":"https://api.github.com/users/alaibe/followers","following_url":"https://api.github.com/users/alaibe/following{/other_user}","gists_url":"https://api.github.com/users/alaibe/gists{/gist_id}","starred_url":"https://api.github.com/users/alaibe/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alaibe/subscriptions","organizations_url":"https://api.github.com/users/alaibe/orgs","repos_url":"https://api.github.com/users/alaibe/repos","events_url":"https://api.github.com/users/alaibe/events{/privacy}","received_events_url":"https://api.github.com/users/alaibe/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"milestone":null,"comments":0,"created_at":"2015-03-22T19:26:26Z","updated_at":"2015-03-22T19:26:32Z","closed_at":"2015-03-22T19:26:32Z","pull_request":{"url":"https://api.github.com/repos/GITHUB_REPO/pulls/3","html_url":"https://github.com/GITHUB_REPO/pull/3","diff_url":"https://github.com/GITHUB_REPO/pull/3.diff","patch_url":"https://github.com/GITHUB_REPO/pull/3.patch"},"body":""},{"url":"https://api.github.com/repos/GITHUB_REPO/issues/2","labels_url":"https://api.github.com/repos/GITHUB_REPO/issues/2/labels{/name}","comments_url":"https://api.github.com/repos/GITHUB_REPO/issues/2/comments","events_url":"https://api.github.com/repos/GITHUB_REPO/issues/2/events","html_url":"https://github.com/GITHUB_REPO/pull/2","id":63562967,"number":2,"title":"Fix
        filter","user":{"login":"alaibe","id":491074,"avatar_url":"[...]
- request:
    method: get
    uri: https://api.github.com/repos/GITHUB_REPO/pulls?per_page=100&state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token GITHUB_OAUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1427990308'
      Etag:
      - W/"f2420b36df82176be4da259091ac6740"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/GITHUB_REPO/pulls/3","id":31693205,"html_url":"https://github.com/GITHUB_REPO/pull/3","diff_url":"https://github.com/GITHUB_REPO/pull/3.diff","patch_url":"https://github.com/GITHUB_REPO/pull/3.patch","issue_url":"https://api.github.com/repos/GITHUB_REPO/issues/3","number":3,"state":"closed","locked":false,"title":"Test
        branch","user":{"login":"alaibe","id":491074,"avatar_url":"https://avatars.githubusercontent.com/u/491074?v=3","gravatar_id":"","url":"https://api.github.com/users/alaibe","html_url":"https://github.com/alaibe","followers_url":"https://api.github.com/users/alaibe/followers","following_url":"https://api.github.com/users/alaibe/following{/other_user}","gists_url":"https://api.github.com/users/alaibe/gists{/gist_id}","starred_url":"https://api.github.com/users/alaibe/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alaibe/subscriptions","organizations_url":"https://api.github.com/users/alaibe/orgs","repos_url":"https://api.github.com/users/alaibe/repos","events_url":"https://api.github.com/users/alaibe/events{/privacy}","received_events_url":"https://api.github.com/users/alaibe/received_events","type":"User","site_admin":false},"body":"","created_at":"2015-03-22T19:26:26Z","updated_at":"2015-03-22T19:26:33Z","closed_at":"2015-03-22T19:26:32Z","merged_at":"2015-03-22T19:26:32Z","merge_commit_sha":"bb874b67cb40519c30f17b4f74054c7e7aa9d27d","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/GITHUB_REPO/pulls/3/commits","review_comments_url":"https://api.github.com/repos/GITHUB_REPO/pulls/3/comments","review_comment_url":"https://api.github.com/repos/GITHUB_REPO/pulls/comments{/number}","comments_url":"https://api.github.com/repos/GITHUB_REPO/issues/3/comments","statuses_url":"https://api.github.com/repos/GITHUB_REPO/statuses/f230832eda0b6392d8cc0119ac1001ffd99d151f","head":{"label":"alaibe:test_branch","ref":"test_branch","sha":"f230832eda0b6392d8cc0119ac1001ffd99d151f","user":{"login":"alaibe","id":491074,"avatar_url":"https://avatars.githubusercontent.com/u/491074?v=3","gravatar_id":"","url":"https://api.github.com/users/alaibe","html_url":"https://github.com/alaibe","followers_url":"https://api.github.com/users/alaibe/followers","following_url":"https://api.github.com/users/alaibe/following{/other_user}","gists_url":"https://api.github.com/users/alaibe/gists{/gist_id}","starred_url":"https://api.github.com/users/alaibe/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alaibe/subscriptions","organizations_url":"https://api.github.com/users/alaibe/orgs","repos_url":"https://api.github.com/users/alaibe/repos","events_url":"https://api.github.com/users/alaibe/events{/privacy}","received_events_url":"https://api.github.com/users/alaibe/received_events","type":"User","site_admin":false},"repo":{"id":32638899,"name":"amanuensis","full_name":"GITHUB_REPO","owner":{"login":"alaibe","id":491074,"avatar_url":"https://avatars.githubusercontent.com/u/491074?v=3","gravatar_id":"","url":"https://api.github.com/users/alaibe","html_url":"https://github.com/alaibe","followers_url":"https://api.github.com/users/alaibe/followers","following_url":"https://api.github.com/users/alaibe/following{/other_user}","gists_url":"https://api.github.com/users/alaibe/gists{/gist_id}","starred_url":"https://api.github.com/users/alaibe/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alaibe/subscriptions","organizations_url":"https://api.github.com/users/alaibe/orgs","repos_url":"https://api.github.com/users/alaibe/repos","events_url":"https://api.github.com/users/alaibe/events{/privacy}","received_events_url":"https://api.github.com/users/alaibe/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/GITHUB_REPO","description":"","fork":false,"url":"https://api.github.com/repos/GITHUB_REPO","forks_url":"https://api.github.com/repos/GITHUB_REPO/forks","keys_url":"https://api.github.com/repos/GITHUB_REPO/keys{/key_id}","collaborators_url":"https://api.github.com/repos/GITHUB_REPO/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/GITHUB_REPO/teams","hooks_url":"https://api.github.com/repos/GITHUB_REPO/hooks","issue_events_url":"https://api.github.com/repos/GITHUB_REPO/issues/events{/number}","events_url":"https://api.github.com/repos/GITHUB_REPO/events","assignees_url":"https://api.github.com/repos/GITHUB_REPO/assignees{/user}","branches_url":"https://api.github.com/repos/GITHUB_REPO/branches{/branch}","tags_url":"https://api.github.com/repos/GITHUB_REPO/tags","blobs_url":"https://api.github.com/repos/GITHUB_REPO/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/GITHUB_REPO/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/GITHUB_REPO/git/refs{/sha}","trees_url":"https://api.github.com/repos/GITHUB_REPO/git/trees{/sha}","statuses_url":"https://api.github.com/repos/GITHUB_REPO/statuses/{sha}","languages_url":"https://api.github.com/repos/GITHUB_REPO/languages","stargazers_url":"https://api.github.com/repos/GITHUB_REPO/stargazers","contributors_url":"https://api.github.com/repos/GITHUB_REPO/contributors","subscribers_url":"https://api.github.com/repos/GITHUB_REPO/subscribers","subscription_url":"https://api.github.com/repos/GITHUB_REPO/subscription","commits_url":"https://api.github.com/repos/GITHUB_REPO/commits{/sha}","git_commits_url":"https://api.github.com/repos/GITHUB_REPO/git/commits{/sha}","comments_url":"https://api.github.com/repos/GITHUB_REPO/comments{/number}","issue_comment_url":"https://api.github.com/repos/GITHUB_REPO/issues/comments{/number}","contents_url":"https://api.github.com/repos/GITHUB_REPO/contents/{+path}","compare_url":"https://api.github.com/repos/GITHUB_REPO/compare/{base}...{head}","merges_url":"https://api.github.com/repos/GITHUB_REPO/merges","archive_url":"https://api.github.com/repos/GITHUB_REPO/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/GITHUB_REPO/downloads","issues_url":"https://api.github.com/repos/GITHUB_REPO/issues{/number}","pulls_url":"https://api.github.com/repos/GITHUB_REPO/pulls{/number}","milestones_url":"https://api.github.com/repos/GITHUB_REPO/milestones{/number}","notifications_url":"https://api.github.com/repos/GITHUB_REPO/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/GITHUB_REPO/labels{/name}","releases_url":"https://api.github.com/repos/GITHUB_REPO/releases{/id}","created_at":"2015-03-21T16:03:04Z","updated_at":"2015-04-02T12:51:51Z","pushed_at":"2015-04-02T12:51:50Z","git_url":"git://github.com/GITHUB_REPO.git","ssh_url":"git@github.com:GITHUB_REPO.git","clone_url":"https://github.com/GITHUB_REPO.git","svn_url":"https://github.com/GITHUB_REPO","homepage":"http://alaibe.github.io/amanuensis","size":212,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":2,"default_branch":"master"}},"base":{"label":"alaibe:master","ref":"master","sha":"55d9471fbcc92d20812b7516d6bc66ef41470ba7","user":{"login":"alaibe","id":491074,"avatar_url":"https://avatars.githubusercontent.com/u/491074?v=3","gravatar_id":"","url":"https://api.github.com/users/alaibe","html_url":"https://github.com/alaibe","followers_url":"https://api.github.com/users/alaibe/followers","following_url":"https://api.github.com/users/alaibe/following{/other_user}","gists_url":"https://api.github.com/users/alaibe/gists{/gist_id}","[...]
- request:
    method: get
    uri: https://api.github.com/repos/GITHUB_REPO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token GITHUB_OAUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelim[...]
- request:
    method: get
    uri: https://api.github.com/repos/GITHUB_REPO/contents/Changelog.md?ref=heads/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token GITHUB_OAUTH_TOKEN
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1427990308'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; param=V3.raw
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Thu, 02 Apr 2015 15:06:36 GMT
- request:
    method: put
    uri: https://api.github.com/repos/GITHUB_REPO/contents/Changelog.md
    body:
      encoding: UTF-8
      string: '{"branch":"master","content":"IyMgMi4wLjItMDIvMDQvMjAxNSAxNjowNjozNAoKKipJc3N1ZXMgY2xvc2VkOioqCgoqKlB1bGwgcmVxdWVzdHMgY2xvc2VkOioqCgo=","message":"Creating
        changelog"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token GITHUB_OAUTH_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1427990308'
      Etag:
      - '"3c4d17e90557e5b41e7f9eec0facdbaf"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"content":{"name":"Changelog.md","path":"Changelog.md","sha":"62ced3c2946920d49ce57e1f207b7575c1651f82","size":77,"url":"https://api.github.com/repos/GITHUB_REPO/contents/Changelog.md?ref=master","html_url":"https://github.com/GITHUB_REPO/blob/master/Changelog.md","git_url":"https://api.github.com/repos/GITHUB_REPO/git/blobs/62ced3c2946920d49ce57e1f207b7575c1651f82","download_url":"https://raw.githubusercontent.com/GITHUB_REPO/master/Changelog.md","type":"file","_links":{"self":"https://api.github.com/repos/GITHUB_REPO/contents/Changelog.md?ref=master","git":"https://api.github.com/repos/GITHUB_REPO/git/blobs/62ced3c2946920d49ce57e1f207b7575c1651f82","html":"https://github.com/GITHUB_REPO/blob/master/Changelog.md"}},"commit":{"sha":"1e9e6d36f26d48f57a30d55903731af1d60002f6","url":"https://api.github.com/repos/GITHUB_REPO/git/commits/1e9e6d36f26d48f57a30d55903731af1d60002f6","html_url":"https://github.com/GITHUB_REPO/commit/1e9e6d36f26d48f57a30d55903731af1d60002f6","author":{"name":"Anthony
        Laibe","email":"anthony@laibe.cc","date":"2015-04-02T15:04:15Z"},"committer":{"name":"Anthony
        Laibe","email":"anthony@laibe.cc","date":"2015-04-02T15:04:15Z"},"tree":{"sha":"10f2e9b7e92549aea46af76a1cd577a08d80cc02","url":"https://api.github.com/repos/GITHUB_REPO/git/trees/10f2e9b7e92549aea46af76a1cd577a08d80cc02"},"message":"Creating
        changelog","parents":[{"sha":"5214edb17efa0754eed1194c1706cf5e43b00e32","url":"https://api.github.com/repos/GITHUB_REPO/git/commits/5214edb17efa0754eed1194c1706cf5e43b00e32","html_url":"https://github.com/GITHUB_REPO/commit/5214edb17efa0754eed1194c1706cf5e43b00e32"}]}}'
  recorded_at: Thu, 02 Apr 2015 15:06:37 GMT
- request:
    method: post
    uri: https://api.github.com/repos/GITHUB_REPO/releases
    body:
      encoding: UTF-8
      string: '{"body":"Release generated by amanuensis.","draft":false,"prerelease":false,"tag_name":"2.0.2"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token GITHUB_OAUTH_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1427990308'
      Etag:
      - '"355ba5118be90517e99087beeae4bcbc"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/GITHUB_REPO/releases/1120003
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/GITHUB_REPO/releases/1120003","assets_url":"https://api.github.com/repos/GITHUB_REPO/releases/1120003/assets","upload_url":"https://uploads.github.com/repos/GITHUB_REPO/releases/1120003/assets{?name}","html_url":"https://github.com/GITHUB_REPO/releases/tag/2.0.2","id":1120003,"tag_name":"2.0.2","target_co[...]
